mixin mob-mnu()
	+b.menu-mobile--js.d-base-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo
				img(loading="lazy" src="img/svg/logo.svg" alt="")
			+tnCatalogBtn('d-lg-none py-0 mb-4')
			+mnu()
			+topNavSearch('d-xl-none mb-4')
			+topNavsocRow('d-lg-none mb-4')
			+b.tn-tell.d-lg-none.mb-4(href="tel:88006595599") 8 800 659 55 99
			+tnCity('d-md-none mb-4')
		+catalog().d-lg-none

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.yellow-box
				+e.row.row
					.col.col-lg-auto.align-self-center
						+e.logo(href="#")
							img(loading="lazy" src="img/svg/logo.svg" alt="")
					+e.city-col.col-auto.align-self-center.d-md-block.d-none
						+tnCity()
					.col.col-base-auto.align-self-center.d-none.d-lg-block
						+tnCatalogBtn()
					.col-auto.align-self-center.d-none.d-base-block
						+mnu()
					+e.search-col.col-auto.d-none.d-xl-block
						+topNavSearch()
					.col-auto.p-0
						+e.cart(href="#")
							+e.c-img
								img(loading="lazy" src="img/svg/cart.svg" alt="")
							+e.c-txt.d-none.d-base-inline Корзина
							+e.c-val 10
					.col-auto.p-0
						+e.lc(href='#')
							img(loading="lazy" src="img/svg/user.svg" alt="")
					.col-auto.ms-auto.align-self-center.d-none.d-lg-block
						+b.tn-tell(href="tel:88006595599") 8 800 659 55 99
					.col-auto.align-self-center.d-none.d-lg-block
						+topNavsocRow()
					.col-auto.d-base-none.align-self-center
						+b.toggle-menu-mobile--js
							span
				//-.col.d-none.d-lg-block
					+mnu()
		+catalog().d-none.d-lg-block
	// end top-nav

mixin topNavSocItem(iconName)
	.col-auto
		+e.soc-item(href='#')
			img(loading="lazy" src=`img/svg/soc-${iconName}.svg` alt="")

mixin topNavSearch(addClasses='')
	+b.search(class=addClasses)
		+e.zoom-btn(type="button")
			+icon('zoom')
		+input('Поиск по сайту', 'text')

mixin topNavsocRow(addClasses='')
	+b.soc-row.row(class=addClasses)
		+topNavSocItem('wa')
		+topNavSocItem('tg')
		+topNavSocItem('vb')

mixin tnCity(addClasses='')
	+b.city-choise(href='#' class=addClasses) Москва

mixin tnCatalogBtn(addClasses='')
	+b.catalog-btn(class=addClasses)
		+e.icon
			img(loading="lazy" src="img/svg/catalog-burger.svg" alt="")
		span Каталог

mixin catalog()
	+b.catalog-dropdown&attributes(attributes)
		+e.back: +icon('arrow-left')
		.container
			+e.wrap
				+e.row.row
					.col-lg-9
						+e.title.h3 Сигары
						+e.UL.columns
							li: a(href="#") Cohiba
							li: a(href="#") Hoyo De Monterrey
							li: a(href="#") Partagas
							li: a(href="#") Romeo y Julietta
							li: a(href="#") Quintero
							li: a(href="#") H.Upmann
							li: a(href="#") Montecristo
							li: a(href="#") Cohiba
							li: a(href="#") Hoyo De Monterrey
							li: a(href="#") Partagas
							li: a(href="#") Romeo y Julietta
							li: a(href="#") Quintero
							li: a(href="#") H.Upmann
							li: a(href="#") Montecristo
							li: a(href="#") Cohiba
							li: a(href="#") Hoyo De Monterrey
							li: a(href="#") Partagas
							li: a(href="#") Romeo y Julietta
							li: a(href="#") Quintero
							li: a.catalog-dropdown__show-full(href="#") Смотреть все
					.col-lg-3
						+e.title.h3 Сигариллы
						ul
							li: a(href="#") Cohiba
							li: a(href="#") Hoyo De Monterrey
							li: a(href="#") Partagas
							li: a(href="#") Romeo y Julietta
							li: a(href="#") Quintero
							li: a(href="#") H.Upmann
							li: a(href="#") Montecristo
				+e.title-wrap
					+e.title.h3(href='#') Аксессуары
					+e.title.h3(href='#') Наборы